
<form action="/Categoria/Adiciona" method="post">
    <label for="nome">Nome:</label>
    <input class="form-control" id="nome" name="categoria.Nome" />

    <label for="descricao">Descricao:</label>
    <input class="form-control" id="descricao" name="categoria.Descricao" />
    <br/>
    <input type="submit" value="Cadastrar"/>
</form>