<form action="/Login/Autenticar" method="post">
    <label for="login">Login:</label>
    <input class="form-control" type="text" name="login" id="login" />

    <label for="senha">Senha:</label>
    <input class="form-control" type="password" name="senha" id="senha" />
    <br/>
    <input type="submit" value="Autenticar" />
</form>